/* main css styling */
body{
  background-color: #f1fef4;
    padding: 0;
    margin: 0;
    font-size: 20px;
    padding-bottom: 10px;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
}


#human-check{
/*
    text-align: center;
    background-color: #28a745; /* Green background */
    /*
    color: white; /* White text */
   /* padding: 20px;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Add some margin from the top of the page */
    width: 100%;
    height: 5%;
  background-color:  #00897b ;
  color: white; /* White text */
  padding: 10px 0; /* Vertical padding */
  text-align: center; /* Center text horizontally */
  font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
  font-weight: chakra-fontWeights-medium;
  font-size: 15px; /* Font size for the message */
  position:absolute; /* Position it at the top of the page */
  left: 0;
  top: -100px;
  z-index: 9999; /* Ensure it's on top */
  /* The animation will slide the message down */
  animation: slideIn 1s ease-in-out forwards;
  animation-duration: 3s;
  animation-delay: 1s;
}



@keyframes slideIn {
  
  0% {
    top: -1000px; /* Start off-screen */
  }
  40% {
    top: 0; /* Slide into view */
  }
  100% {
    top: -48px; /* Slide back out */
  }

}
.navigation{ 
display: flex;
justify-content: flex-end; 
background-color: transparent;
padding: 20px;
margin-left: -25px !important;
    border-width: 20px 30px 20px 30px;
    font-size: 13px;
}

.navigation ul { 
  display: flex; /* Aligns the links horizontally */
            gap: 100px; /* Space between the links */
            list-style-type: none;
            line-height: normal;
            padding: 0px;
            margin: 0;
            text-align: left;
            font-size: 18px;
    padding-inline-start: 1.7em;
}

ul li a {
  text-decoration: none;

  color: #333; /* Dark text color */
  padding: 5px 10px; /* Optional: adds some padding inside the link */
  border: none; /* Remove any border or box shadow */
}

.navigation  ul li  {
  font-family: 'Arial', sans-serif; /* Choose a font you like */
  display: flex;
  margin: 0 10px;
  border-width: 0;
  padding: 0;
  position: relative;
  text-align: right;
}

nav ul li a:hover {
  color: #00897b; /* Change color on hover */
  border: 2px solid whitesmoke; /* Border when hovered */
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); /* Shadow effect */
}


.textbody{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 20px 0;
}

p{
  margin-top: 12px;
  max-width: 800px;
  line-height: 2;
  text-align: justify;
}

.foot{
display: flex;
flex-direction: column; /* Stack the items vertically */
 /* Align items to the far right */
 align-items: flex-end;
padding: 40px 20px;

}

.foot a{

  margin-right: 100;
}


/* media queries */
@media screen and (max-width: 1024px) {   
  .nav-header{
      justify-content: center;
      align-items: center;
  }
   nav{
      width: 100%;  
      display: flex;
      justify-content: flex-end;
  }
 
  .banner-text{
      font-size: 29px;
  }

  .small-text{
      font-size: 12px;
  }

  .icons{
      font-size:20px; 
      color:#3587ed;
      margin-right: 3px;
  }
}

@media screen and (max-width: 550px) {
  nav a{
       font-size: 20px;
  }
}

